div.aboutDialog
  div.modal-header
    h4 #{lingua.AboutDialog.title}
  div.modal-body
    table.table.table-striped
      thead
        tr
          th #{lingua.AboutDialog.header_property}
          th #{lingua.AboutDialog.header_value}
      tbody 
        tr
          td #{lingua.AboutDialog.appname}
          td #{appname}
        tr
          td #{lingua.AboutDialog.version}
          td #{version}
        tr
          td #{lingua.AboutDialog.environment}
          td #{env}
        tr
          td #{lingua.AboutDialog.license}
          td #{license}
