form
  fieldset
    div.control-group
      label.control-label(for="street") #{lingua.CitySearchForm.streetPrompt}
      div.controls
        input#street.input-large(name="street", type="text", placeholder="#{lingua.CitySearchForm.streetPlaceholder}")
    div.control-group
      label.control-label(for="city") #{lingua.CitySearchForm.cityPrompt}
      div.controls
        input#city.input-large(name="city", type="text", placeholder="#{lingua.CitySearchForm.cityPlaceholder}")
    div.control-group
      label.control-label(for="state") #{lingua.CitySearchForm.statePrompt}
      div.controls
        input#state.input-large(name="state", type="text", placeholder="#{lingua.CitySearchForm.statePlaceholder}")
    div.control-group
      label.control-label(for="submit")
      div.controls
        buttom#submit.btn.btn-primary(name="submit") #{lingua.CitySearchForm.btnSubmit}
        buttom#reset.btn.btn-warning(name="reset") #{lingua.CitySearchForm.btnReset}
