form
  fieldset
    div.control-group
      label.control-label(for="longitude") #{lingua.CoordSearchForm.longitudePrompt}
      div.controls
        input#longitude.input-large(name="longitude", type="text", placeholder="#{lingua.CoordSearchForm.longitudePlaceholder}")
    div.control-group
      label.control-label(for="latitude") #{lingua.CoordSearchForm.latitudePrompt}
      div.controls
        input#latitude.input-large(name="latitude", type="text", placeholder="#{lingua.CoordSearchForm.latitudePlaceholder}")
    div.control-group
      label.control-label(for="submit")
      div.controls
        buttom#submit.btn.btn-primary(name="submit") #{lingua.CoordSearchForm.btnSubmit}
        buttom#reset.btn.btn-warning(name="reset") #{lingua.CoordSearchForm.btnReset}
