h1 Weather
p Weather report goes here
table.table.table-striped
  tbody 
    tr
      td #{t('Weather.location')}
      td {{currentWeather.latitude}}, {{currentWeather.longitude}}
    tr
      td #{t('Weather.timezone')}
      td {{currentWeather.timezone}}
    tr
      td #{t('Weather.time')}
      td {{currentWeather.time}}
    tr
      td #{t('Weather.summary')}
      td {{currentWeather.summary}}
    tr
      td #{t('Weather.temperature')}
      td {{currentWeather.temperature.value}} &deg;{{currentWeather.temperature.units}}
    tr
      td #{t('Weather.humidity')}
      td {{currentWeather.humidity.value}}{{currentWeather.humidity.units}}
    tr
      td #{t('Weather.pressure')}
      td {{currentWeather.pressure.value}} {{currentWeather.pressure.units}}
    tr
      td #{t('Weather.precipitation')}
      td {{currentWeather.precipProbability.value}}{{currentWeather.precipProbability.units}}
        | (#{t('Weather.intensity')} {{currentWeather.precipIntensity.value}} {{currentWeather.precipIntensity.units}})
    tr
      td #{t('Weather.wind')}
      td {{currentWeather.windSpeed.value}} {{currentWeather.windSpeed.units}} {{currentWeather.windBearing}}
    tr
      td #{t('Weather.visibility')}
      td {{currentWeather.visibility.value}} {{currentWeather.visibility.units}}
    tr
      td #{t('Weather.ozone')}
      td {{currentWeather.ozone.value}} {{currentWeather.ozone.units}}
