extends layout

block head
  title #{lingua.title} <#{env}>

block header
  div.navbar-inner
    div.container
      a.brand(ref="#",ng-click="tabs[0].active = true") #{lingua.appname}
      div.nav-collapse.collapse
        ul.nav.pull-right
          li.about-menu
            a(href="#",ng-click="openAboutDialog()") #{lingua.about}

block footer
  span.muted.credit #{lingua.appname} - v#{version}

block body
  div.page
    div.sidebar
      div.content
       accordion
         accordion-group(heading="#{lingua.CitySearchForm.title}")
           ng-include(src="'view/cityForm'")
         accordion-group(heading="#{lingua.CoordSearchForm.title}")
           ng-include(src="'view/coordForm'")
    div.workspace
      div.content
        tabset
          tab(ng-repeat="tab in tabs | filter: enabledTab()", active="tab.active")
            tab-heading {{tab.title}}
              span(ui-hide="!tab.closable")
                a(ng-click="removeTab($index)", href="")
                  i.icon-remove
            ng-include(src="tab.template")
