extends layout

block head
  title #{t('title')} <#{env}>

block header
  div.navbar-inner
    div.container
      a.brand(ref="#",ng-click="tabs[0].active = true") #{t('appname')}
      div.nav-collapse.collapse
        ul.nav.pull-right
          li.about-menu
            a(href="#",ng-click="openAboutDialog()") #{t('about')}

block footer
  span.muted.credit #{t('appname')} - v#{version}

block body
  div.page
    div.sidebar
      div.content(ng-controller="WeatherCtrl")
       accordion
         accordion-group(heading="#{t('CitySearchForm.title')}")
           ng-include(src="'view/cityForm'")
         accordion-group(heading="#{t('CoordSearchForm.title')}")
           ng-include(src="'view/coordForm'")
    div.workspace
      div.content
        tabset
          tab(ng-repeat="tab in tabs", active="tab.active")
            tab-heading {{tab.title}}
              span(ui-hide="!tab.closable")
                a(ng-click="removeTab($index)", href="")
                  i.icon-remove
            ng-include(src="tab.template")
